<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

            <title>Delhi Routes</title>

    </head>
<body>

    <div class="header">Delhi Routes</div>
            {#  For receiving messages from flask handler #}
            <main role="main">
                <div class="row">
                    <div class="col-md-8">

                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                      {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                          {{ message }}
                        </div>
                      {% endfor %}
                    {% endif %}
                    {% endwith %}

                </div>
                </div>
            </main>

    {#  flask_wtf could not handle that much select fields so using html form  #}
    {#  Selector form for taking input from the user. #}
    <div id="container">
        <div class="form-div">

         <form action="" method="post" class="form-div">


             {#  Fist selector for START stop       #}
            <label class="label" id="form-first-select" >
                <select name="start stop" id="s_stop" class="form-control ">
                    <option disabled selected value > -- select an option -- </option>
                    {% if stops.count() > 0 %}
                        {% for stop in stops %}
                            <option value="{{ stop }}">{{ stop }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </label>

            {#  Second selector for END stop       #}
            <label class="label" id="form-second_select">
                <select name="end stop" id="e_stop" class="form-control ">
                <option disabled selected value> -- select an option -- </option>
                {% if stops.count() > 0 %}
                    {% for stop in stops %}
                        <option value="{{ stop }}">{{ stop }}</option>
                    {% endfor %}
                {% endif %}
                </select>
            </label>
            <input type="submit" id="form-input" class="btn btn-primary">

        </form>
    </div>
    </div>


    {#  TABLES for showing result of finding trips from given START and END stops.  #}
    <div id="container">

        {#  Zero hop trips #}
        <div id="left">

            {% if total_zerohop_results  %}
                <h2>All Possible Zero hop trips:  {{ total_zerohop_results }}</h2>
            {% if total_zerohop_results >50 %}
                <small> Showing first 50 trips</small>
            {% endif %}
            {% else %}
                <h2>No Zero hop trips found</h2>
            {% endif %}

            {# ZERO HOP TABLE   #}
            <table class="table">

            <thead class="thead-dark">

            <tr>
                <th>Common Trips </th>
            </tr>

            </thead>
            <tbody>

                {% if zerohop_result %}
                    {% for result in zerohop_result %}
                      <tr>
                        <td>{{ result }}</td>
                      </tr>
                    {% endfor %}
                {% endif %}
            </tbody>

      </table>

        </div>

        {# ONE HOP results   #}
        <div id="right">
            {% if total_onehop_results %}
                    <h2>One hop Possible trips:  {{ total_onehop_results }}</h2>
                {% if total_onehop_results >50 %}
                    <small> Showing first 50 trips</small>
                {% endif %}
            {% else %}
                     <h2>No One hop trips found for selected stops</h2>
            {% endif %}
            {# ONE HOP TABLE   #}
            <table class="table">
            <thead class="thead-dark">

            <tr>
                    <th>First Trip ID</th>
                    <th>First Trip Arrival Time</th>
                    <th>First Trip Departure Time</th>
                    <th>Second Trip ID</th>
                    <th>Second Trip Arrival Time</th>
                    <th>Second Trip Departure Time</th>

            </tr>

            </thead>
            <tbody>

                {% if onehop_result %}
                    {% for result in onehop_result %}
                      <tr>
                        <td>{{ result.first_trip_id }}</td>
                        <td>{{ result.first_tp_arrival_time }}</td>
                        <td>{{ result.first_tp_departure_time }}</td>
                        <td>{{ result.second_trip_id }}</td>
                        <td>{{ result.second_tp_arrival_time }}</td>
                        <td>{{ result.second_tp_departure_time }}</td>
                      </tr>
                    {% endfor %}
                {% endif %}
            </tbody>

          </table>
        </div>

    </div>
</body>
</html>